# Checksums require maintainer approval
cli-bash/polis.sha256 @vdibart
cli-bash/polis-tutorial.sha256 @vdibart

# Main CLI scripts require maintainer approval
cli-bash/polis @vdibart
cli-bash/polis-tutorial @vdibart
